@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Meme-Synthesis</h1>
    <p>Learn about <a href="https://www.instructables.com/How-to-make-Dank-Memes/">creating dank memes</a>.</p>
</div>
