@using MemeSynthesis.Models

@{
    ViewData["Title"] = "Memes";
}
@model List<MemeSynthesis.Models.Memes>

<table class="table" >
    <thead>
        <tr>
            <th>
                <h5>Name</h5>
            </th>
            <th>
                <h5>Meme</h5>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td style="background-color:white">
                    @Html.DisplayFor(modelItem => i.name)
                </td>
                <td style="background-color:white">
                   <img src="@Html.DisplayFor(modelItem => i.url)" style="width:250px;height:250px">
                </td>
            </tr>
        }
    </tbody>
</table>